{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="2F37D261D506735A29B007648A9D2F5A" />
    <meta name="google-site-verification" content="inUtDBJhcD2QR_DHOhSeVSKpckcSuA4mc3ydzkUC7Hc" />
    <meta name="description" content="Learn how to quickly activate your Netflix account on any smart TV with Netflix.com/tv2. Follow these simple, updated 2025 steps to enter your code today without errors.">
    <meta name="keywords" content="Netflix.com/tv2, Netflix tv2 code, Enter Netflix code, Netflix activation, Netflix tv2 setup, Netflix.com/tv2 code entry, Netflix activation code, How to use Netflix.com/tv2, Netflix code not working, Activate Netflix on smart TV">
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
